.review-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.review-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.review-modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: rgb(235, 136, 153);
    font-weight: bold;
}

.review-modal-content {
    padding: 10px;
}

.review-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.review-text {
    width: 350px;
    border: 1px solid rgb(235, 136, 153);
}

.heart-icons {
    margin-top: 25px;
    height: 45px;
    width: 150px;
    margin-left: 114px;
}

.submit-review-button {
    width: 60%;
    height: 40px;
    background-color: rgb(235, 136, 153);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroundcolor 0.3s ease;
    font-family: Andale Mono, monospace;
    margin-left: 68px
}