body {
    background-color: rgb(243, 236, 242);
}  

.all-Spots {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.all-spots-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: auto; */
    grid-column-gap: 1em;
    /* margin: 1em; */
    /* margin-right: 30px;
    margin-left: 30px; */
}


.all-spots-container ul {
    list-style-type: none;
}

.single-spot {
    width: 200px;
    border-radius: 5px;
}

.spot-name-and-rating {
    display: flex;
}

.spot-name {
    margin-top: 5px;
    margin-left: 5px;
    width: 140px;
}

.single-spot-image-div {
    width: 100%;
    height: 100%;
}
.single-spot-image-div img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.single-spot-city-state-price {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 100% 1fr;
    grid-template-rows: 1fr 1fr ;
}

.single-spot-city-state-price {
    padding-top: 0px;
    padding-left: 5px;
    width: 100%;
    height: 30%;
    grid-column: 1;
    grid-row: 1;
    font-size: 13px;
    color: rgb(235, 136, 153);
}

.single-spot-city-state {
    height: 30px;
}

.single-spot-price{
    grid-column: 1;
    grid-row: 2;
    font-weight: bold;
}

.heart-image {
    width: 18px; 
    height: 18px; 
    /* margin-left: 20px; */
    margin-top: 5px;
}

.average-rating-value {
    font-size: 14px;
    margin-top: 6px;
}

.single-spot-star-rating {
    display: flex;
    height: 40px;
    width: 40px;
}
