.create-form-inputBox {
    display: flex;
    justify-content: center;
  }
  
  .create-spot-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 25px;
    color: rgb(235, 136, 153);
    font-family: Andale Mono, monospace;
  }
  
  .create-spot-form input,
  .create-spot-form textarea {
    margin: 5px;
    padding: 3px;
    border: 1px solid rgb(235, 136, 153);
    border-radius: 4px;
    /* width: auto; Let the width be determined by content */
  }
  
  .create-form-description-textarea textarea {
    resize: none;
    width: 480px;
    height: 150px;
  }
  
  .create-form-country-address {
    width: 480px; 
  }
  
  .create-form-cit-state-lat-lng {
    width: 45%;
  }

  .create-spot-name-field {
    width: 480px;
  }
  
  .create-form-spot-images input {
    width: 480px;
  }
  
  .create-spot-price-field {
    width: 472px;
  }
  
  .button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
  
  .create-form-submit-button {
    width: 150px;
    background-color: rgb(235, 136, 153);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px lightgray;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .create-form-submit-button:hover {
    background-color: lightpink;
  }
  
  .create-form-errors {
    color: red;
  }
  
  .city-state-lat-lng-labels {
    display: flex;
  }

  .address-label-state {
    margin-left: 213px;
  }

  .address-label-lng {
    margin-left: 176px;
  }