/* ManageSpots.css */

/* Use similar background color as landing page */
.spot-management-page {
    background-color: rgb(243, 236, 242);
    padding: 20px;
  }
  
  /* Style for the spot-tile-list */
  .spot-tile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .spot-tile-list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  
  /* Style for individual spot tiles */
  .spot-tile {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 15px;
  }
  
  /* Style for spot details */
  .spot-details {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  
  /* Style for spot images */
  img.spot-images {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
  }
  
  /* Style for spot name, location, and price */
  div.spot-name,
  div.spot-location,
  div.spot-price {
    font-family: Andale Mono, monospace;
    color: rgb(235, 136, 153);
    margin-top: 10px; /* Adjust spacing */
  }
  
  /* Style for star rating container */
  .spot-star-rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px; /* Adjust spacing */
  }
  
  /* Style for heart image */
  .heart-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  /* Style for average rating value */
  .average-rating-value {
    font-size: 14px;
    margin-bottom: 0; /* Remove the margin that pushes it down */
  }
  
  /* Style for the spot buttons container */
.spot-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  /* Style for the Update and Delete buttons */
  .update-button,
  .delete-button {
    background-color: rgb(235, 136, 153); /* Customize button background color */
    color: #fff; /* Customize button text color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* Adjust padding as needed */
    cursor: pointer;
    width: 130px;
    height: 30px;
  }
  
  .update-button {
    margin-left: 20px;
  }

  
  .delete-button {
    margin-right: 20px;
  }
  
  /* Add some spacing between buttons */
  .update-button + .delete-button {
    margin-left: 10px;
  }
  
  /* Add a hover effect for buttons */
  .update-button:hover,
  .delete-button:hover {
    background-color: lightpink;
  }